@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Racing Sans One', cursive;
  font-family: 'Montserrat', sans-serif;
  /* opcional */
  
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

  color: var(--escuro);
  background-color: var(--claro);

}






/*Custom Properties - facil acceso a los colores*/
:root{
    --rosa: #f9d9fc;
    --rojo: #fe2d43;
    --claro: #f5f5f5;
    --escuro:#3d3e3d;
    --blanco: #ffffff;

}





/*HEADER*/
.Header{
    background-color: var(--rosa);
    width: 100%;

    padding: 1rem 0;
    
    color: var(--rojo);

  
}
.Header-wrapper{
    width: 95%;

    margin: auto; /*para que el bloque este centrado*/

    padding: 1rem;
}

.Header-logo{}

/*NAV*/
.Header-nav{}
.Header-ul{
  width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 2rem;
}
.Header-a{
    border: solid var(--rojo) .125rem;

    border-radius: 2rem;

    padding: .5rem 1rem;
    font-family: 'Racing Sans One', cursive;
    font-size: 1rem;
  }

.Header-a:hover{
    background-color: var(--rojo);
    color: var(--rosa);
    transition: all .5s ease;
}

.Header-a:active{
  transform: scale(0.8);
  transition: all .5s ease;
}
.Header-svg{
  display: none;
}


/*HERO*/
.Hero{
  background-color: white;
  width: 100%;
}
.Hero-fondo{ /*Esta section existe por el fondo blanco que aparece por el border-radius. El body tiene el color var(--claro) pero en este caso hizo falta el blanco.*/
  background-color: var(--rosa);
  width: 100%;
  
  border-radius: 0 0 2rem 2rem;
  padding: 2rem 0 6rem 0;
}
.Hero-wrapper{
    color: var(--rojo);
    width:80%;

    margin:auto;
    min-height: 25rem;

}
.Hero-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    padding: 3rem 0;

    animation: slidedown 1.5s ease 1; /*animación para que el texto del hero de desplaze hacia abajo. Dura 1.5 segundos, la aceleración es ease y ocurre una vez*/
}
.Hero-h1{
    font-size: 96px;
    font-family: 'Racing Sans One', cursive;
    line-height: 1;
    max-width: 43.8rem;
}
.Hero-span{
    color: white; 
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Racing Sans One', cursive;

    padding-bottom: 0.3rem;

}
.Hero-p{
    padding: 3rem 0 0 0;
    letter-spacing: 0.225rem;
    font-size: 1rem;

    animation: slideup 1.5s ease 1; /*animación para que el texto del hero de desplaze hacia abajo. Dura 1.5 segundos, la aceleración es ease y ocurre una vez*/
}

#Work{
  width: 100%;
  background-color: var(--blanco);
}

.Work-wrapper{
  /*background-color: #f9d9fc;*/

  width: 80%;
  margin: auto;
  padding: 3rem 0;

}

.Work-title{}
.Work-h2{
  font-weight: 700;
  font-size: 3.75rem;
  font-family: 'Racing Sans One', cursive;


  padding: 6rem 0 1rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.Work-h2::before{
  content:"";
  width: 12rem;
  height: .125rem;
  background-color: var(--escuro);
  display: block;
}

.Work-contenedor{
  width: 100%;

  display: flex;

  position: relative;

}

.Work-menu{}
.Work-ul{
  padding: 1rem 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  position: sticky;
  top:0;
  left:0;
  margin: 0 2rem 0 0;
}

.Work-a{
  width: 11rem;
  border: solid var(--rojo) .1062rem;
  color: var(--rojo);
  border-radius: 2rem;

  padding: 0.8rem 1rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.Work-a:hover{
background-color: var(--rosa);
transition: all .5s ease;

}

.Work-a:active{
  transform: scale(0.8);
  transition: all .5s ease;
}


/*----WORK FOTOS----*/

.Work-fotos{
  position: relative;
}
.Work-click{
  width: 100%;
}

.Click-img{
  object-fit: contain ;
  width: 6.25rem;
  animation: clickrotate 5s linear infinite 4s;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 1;
}

.Fotos-ul{
  overflow: hidden; 
}

.Fotos-li{
  position: relative;
  margin: 2rem 0;

}

.Work-img{
  width: 75rem;

  object-fit: contain;
  border-radius: 1rem;
}

.Work-img.opacity{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}

.Work-img:hover.opacity{ /*Al hacer hover en la work-img, la segunda imagen (que tiene la clase opacity y esta en absolute) aparece. O sea, deja de tener opacity: 0 para tener opacity: 1.*/
  opacity: 1;
  transition: all .5s ease;
}


.Fotos-texto{
  background-color: var(--claro);
  color: var(--escuro);

  width: 100%;
  height: 100%;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
  border-radius: 1rem;
  pointer-events: none;

  position: absolute;
  top:0;
  left:0;
  
  opacity: 0;
}

.Fotos-texto:hover.view{ /*Al hacer hover en Fotos-texto, la segunda imagen (que tiene la clase opacity y esta en absolute) aparece. O sea, deja de tener opacity: 0 para tener opacity: 1.*/
  opacity: 70%;
  transition: all .5s ease;
  z-index: 1;
}

.Fotos-h3{
  font-size: 2rem;
  font-family: 'Racing Sans One', cursive;
}
.Fotos-p{
  font-size: 1.5rem;
}






/*-----ABOUT-----*/


#About{
  width: 100%;
  background-color: var(--claro);

  padding: 6rem 0;
}

.About-tittle{}
.About-h2{
  font-weight: 700;
  font-size: 3.75rem;
  font-family: 'Racing Sans One', cursive;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.About-h2::after{
  content:"";
  width: 12rem;
  height: .125rem;
  background-color: var(--escuro);
}

.About-wrapper{
  max-width: 70%;
  margin: auto;
}

.About-nombre{
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;

  color: var(--rojo);
  padding: 2rem;
}

.About-presentacion{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 2rem 0;
}
.About-foto{
  padding: 0 3rem 0 0;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.About-img{
  width: 9.375rem;
}
.About-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
  padding: 1rem 0;
}
.About-li{
  font-size: .75rem;
  background-color: var(--rosa);
  color: var(--rojo);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.About-texto{
  max-width: 35rem; /*Para que el contenido no se extenda cuando la pantalla se hace más ancha*/

  background-color: var(--rosa);
  border-radius: 2rem;
  font-size: .8125rem;
  padding: 2rem 3rem;
}
.About-p{}



/*Section de los buttons de la experiencia de trabajo y skills*/

.About-lists{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 64rem;
}

.About-tabs.left{
  padding: 6rem 0;
  width: 60%;
}

.About-experience{}

.Experience-h3{
  color: var(--rojo);

  font-size: 2rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;
}


.Experience-work{
 
  margin: 0 0 0 1rem;
  width: 90%;
  max-width: 37.5rem;
}



.Experience-title{ 
/*Esta clase sirve para tanto para la seccion experience, skills y studies. És después usada en Javascript*/
  color: var(--rojo);
  padding: 1rem 2rem;
  border: solid .125rem var(--rojo);
  border-radius: 1rem;

  margin: 2rem 0 0 0;

  font-weight: 600;
  font-size: .875rem;
  color: var(--rojo);

  cursor: pointer;
}
.Experience-title:hover{
  background-color: var(--rojo);
  color: var(--rosa);

  transition: all .5s ease;
}

.Experience-title:active{
  color:var(--rojo)
}


.Experience-ul{
  height: 0; /*Para que el texto solo aparezca cuando se hace clic en .Experience-title, se quita la altura y todo lo que sale fora de la etiqueta*/
  overflow: hidden;
  
  transition: all 0.5s ease;
}

.Experience-ul.isActive{ /*Esta section tiene la clase isActive, para usarla en Javascript*/
  padding: 1rem 0;
  min-height: 13rem;
  line-height: 1.5rem;
}
.Experience-li{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: .875rem;

  gap: 1rem;

  padding: .5rem 1rem .5rem 0;  
}
.title{ /*para destacar los nombres de las escuelas*/
  font-weight: 600;
}


.About-studies{}
.Studies-h3{
  color: var(--rojo);
  
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;
  margin: 4rem 0 2rem 0;
}

.Experience-studies{
  margin: 0 0 0 1rem;
  width: 80%;
  max-width: 37.5rem;
  
}

.Skills-h3{
  color: var(--rojo);

  font-size: 2rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;
  margin: 4rem 0 2rem 0;
}

.Experience-skills{ 
    margin: 0 0 0 1rem;
    max-width: 37.5rem;
  }


/*Div derecho con los idiomas y los intereses*/

.About-tabs.right{  
  padding: 6rem 0rem;
}
.About-language{}
.Language-h3{
  color: var(--rojo);

  font-size: 2rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;}

.Language-ul{
  padding: 1rem 0 0 0;
}
.Language-li{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: .875rem;

  gap: 1rem;

  padding: 1rem 0;
}




/*Section de descargas de curriculos*/
.About-curriculo{
  width: 100%;
  margin: 2rem 0;
}


.Curriculo-btn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0 0 0;

  gap: 1rem;
}

.Curriculo-h3{
  color: var(--rojo);

  font-size: 2rem;
  font-weight: 600;
  font-family: 'Racing Sans One', cursive;
  margin: 2rem 0;
}


.Curriculo-a{
  width: 8.2rem;
  background-color: var(--rosa);
  color: var(--rojo);
  text-align: center;
  font-size: .875rem;

  border-radius: 2rem;
  padding: .5rem .5rem;
}


/*CONTACT*/

.Contact{
  width: 100%;
}

.Contact-wrapper{
  padding: 4rem 0 8rem 3rem;
  background-color: var(--rosa);
  border-radius: 2rem;

  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;


}
.Contact-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;

  padding: 3rem 0 0 8rem;
  max-width: 68rem;
}

.Contact-title{}

.Contact-h2{
  color: var(--rojo);

  font-size: 3rem;
  font-weight: 700;
  font-family: 'Racing Sans One', cursive;

  margin: 0 0 3rem 0; 
}
.Contact-form{
  position: relative;
}

.Form-email{
  border-bottom: solid .125rem var(--escuro);
  padding: .5rem 1rem;
  font-weight: 600;
  
  margin: 0 0 1rem 0;
  
}
.Form-text{
  border-bottom: solid .125rem var(--escuro);
  padding: .5rem 1rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
}

::placeholder{
  color: var(--escuro);
}
.Contact-svg{
  width: 1.5rem;
  height: 1.5rem;

  color: var(--rojo);

  position: absolute;
  bottom: 1.3rem;
  right: -3rem;
}
.Contact-svg:hover{
  transform: scale(1.5);
  color: var(--blanco);
}
.Contact-a{
  color: var(--rojo);
  font-size: 1rem;
  padding: 0 18rem 1rem 0;
}




/*----FOOTER----*/

.Footer{
  width: 100%;
}
.Footer-container{
  width: 100%;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;

  padding: 2rem 0;
}
.Footer-social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Social-ul{
  padding: 2rem 0;
}
.Social-li{
  color: var(--escuro);
  font-family: 'Racing Sans One', cursive;
  font-size: 2rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: .5rem;

  padding: 2rem 0;
}
.Social-li::before{
  content: "";
  width: 14.5rem;
  height: .125rem;
  background-color: var(--escuro);
}
.Social-li:hover{
  color: var(--rojo);
  transition: all .5s ease;
}
.Footer-p{
  padding: 4rem;
  color: var(--rosa);
  font-family: 'Racing Sans One', cursive;
  font-size: 2rem;

}
.Footer-a{
  color: var(--rosa);
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5rem;
  text-align: center;

  background-color: var(--rojo);
  padding: .3rem 1rem;
  border-radius: 2rem;

  margin-right: 2rem;
}
.Footer-a:hover{
    background-color: var(--rosa);
    color: var(--rojo);
    transition: all .5s ease;
}
.Footer-a:active{
  transform: scale(0.8);
  transition: all .5s ease;
}





/*-----KEYFRAMES------*/

@keyframes slidedown{
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideup{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

/* El código anterior define una animación CSS usando la regla `@keyframes`. La animación se llama
`clickrotate`. Gira un elemento 360 grados cuando alcanza el 30% de su duración de animación. */
@keyframes clickrotate{
  50% {transform: rotate(-45deg);
  }
}






/*-----RESPOSIVE-----*/

@media screen and (max-width:600px){

  .About-nombre{
    font-size: 2rem;
  }

  .About-presentacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .About-foto{
    padding: 1rem 0;
  }
  
}


@media screen and (max-width:960px){
  .Header-nav{
    display: none;
  }
  .Header-svg{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
  .Work-contenedor{  
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Work-ul{
    margin:0;
    padding: 0;
  }
  .Work-a{
    margin: 0.5rem 0;
  }
  .About-wrapper{
    max-width: 80%;
  }

  .About-texto{
    padding: 2rem 1.5rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .About-btn{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .Experience-ul.isActive{
    height: 16rem;
  }

  .About-lists{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .About-tabs.right{
    padding: 0;
    width: 100%;
  }

  .About-tabs.left{
    width: 100%;
  }
  .Language-ul{
    margin: 0;
  }
  .Contact-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  
    padding: 3rem;
    max-width: 81.25rem;
  }
}


@media screen and (max-width:1024px){
  .Header-ul{
    font-size: 1rem;
    gap: 1rem;
  } 
  .Hero-h1{
    font-size: 5.4375rem;
  }
  .Hero-p{
    padding: 0;
  }
  .Hero-span{
    padding: 1rem 0;
  }
  .About-foto{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items: flex-start;
  }
  .About-texto{
    width: 100%
  }
  .About-p{
    text-align: center;
  }
  .About-a{
    width: 10rem;
  }
  .Curriculo-btn{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .Contact-wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .Contact-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    padding: 3rem 0 0 0;
  }
  .Contact-a{
    padding:2rem 0;
  }
  
  .Footer-container{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .Footer-p{
    padding: 0 0 4rem 2rem;
  }
  .Footer-a{
    margin: 0 0 0 2rem;
  }
}

@media screen and (max-width:1150px){
  .Hero-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
